<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FILEHEADER</key>
	<string>
// This source file is part of the Web3Swift.io open source project
// Copyright ___YEAR___ The Web3Swift Authors
// Licensed under Apache License v2.0
//
// ___FILENAME___
//
// Created by ___FULLUSERNAME___ on ___DATE___
//</string>
</dict>
</plist>
